<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="">
      <img src="assets\mypharmacy.png" alt="" height="40px">
    
    </a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="user"></mdb-icon>Zaloguj</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="shopping-cart"></mdb-icon>Koszyk</a>
          </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->