<mat-toolbar fxLayout="row" color="primary">
  <button mat-icon-button id='menubutton' >
    <mat-icon>menu</mat-icon>
  </button>
  <a href="">
    <img src="assets\mypharmacy.png" height="40px">
  </a>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
<app-searchbar ></app-searchbar>
<button mat-icon-button id='loginbutton' >
  <mat-icon aria-hidden="false" aria-label="Login icon">supervisor_account</mat-icon>
</button>
<button mat-icon-button id='cartbutton' >
  <mat-icon aria-hidden="false" aria-label="Shopping cart icon">shopping_cart</mat-icon>
</button>
  </div>
</mat-toolbar>