#menubutton{
    outline: none;
    
}
#loginbutton{
    outline: none;
    
}
#cartbutton{
    outline: none;
    
}

.sidenav-container{
    height: 100%;
}

#icon{
    margin-right: 20px;
}

#logoColor{
    fill: #645AEC;
    margin-right: 10px; 
}
