<button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>
  Bottom
</button>
<div mdbModal #frame="mdbModal" class="modal fade bottom modal-scrolling" id="frameModalTop" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-frame modal-bottom modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <p class="pt-3 pr-2">Używamy ciasteczek do optymalizowania strony</p>

          <a type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Dowiedz się więcej
            <mdb-icon fas icon="book" class="ml-1"></mdb-icon>
          </a>
          <a type="button" mdbBtn color="primary" mb-outline="true" class="waves-light" mdbWavesEffect
            data-dismiss="modal" (click)="frame.hide()">Ok</a>
        </div>
      </div>
    </div>
  </div>
</div>