
<div class="container">
    <app-front-page-carosuel>
    </app-front-page-carosuel>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="view overlay zoom">
                    <img src="/assets/imagesMedicine/medicineDrugs.jpg" class="img-fluid rounded-circle" alt="zoom">
                    <div class="mask flex-center waves-effect waves-light">
                        <p class="white-text">Click</p>
                    </div>
                </div>
                <br>
                <h2 class="text-center">
                    <p class="font-weight-bold">Lekarstwa</p>
                </h2>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="view overlay zoom">
                    <img src="/assets/imagesMedicine/cosmetics-2258300.jpg" class="img-fluid rounded-circle" alt="zoom">
                    <div class="mask flex-center waves-effect waves-light">
                        <p class="white-text">Click</p>
                    </div>
                </div>
                <br>
                <h2 class="text-center">
                    <p class="font-weight-bold">Kosmetyki</p>
                </h2>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="view overlay zoom">
                    <img src="/assets/imagesMedicine/massage-therapy-1612308.jpg" class="img-fluid rounded-circle"
                        alt="zoom">
                    <div class="mask flex-center waves-effect waves-light">
                        <p class="white-text">Click</p>
                    </div>
                </div>
                <br>
                <h2 class="text-center">
                    <p class="font-weight-bold">Higiena</p>
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="view overlay zoom">
                    <img src="/assets/imagesMedicine/salad-2756467.jpg" class="img-fluid rounded-circle" alt="zoom">
                    <div class="mask flex-center waves-effect waves-light">
                        <p class="white-text">Click</p>
                    </div>
                </div>
                <br>
                <h2 class="text-center">
                    <p class="font-weight-bold">Zdrowy tryb życia</p>
                </h2>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="view overlay zoom">
                    <img src="/assets/imagesMedicine/blood-pressure-1006790.jpg" class="img-fluid rounded-circle"
                        alt="zoom">
                    <div class="mask flex-center waves-effect waves-light">
                        <p class="white-text">Click</p>
                    </div>
                </div>
                <br>
                <h2 class="text-center">
                    <p class="font-weight-bold">Sprzęt medyczny</p>
                </h2>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="view overlay zoom">
                    <img src="/assets/imagesMedicine/coronavirus-4932607.jpg" class="img-fluid rounded-circle"
                        alt="zoom">
                    <div class="mask flex-center waves-effect waves-light">
                        <p class="white-text">Click</p>
                    </div>
                </div>
                <br>
                <h2 class="text-center">
                    <p class="font-weight-bold">Covid-19</p>
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="view overlay zoom">
                        <img src="/assets/imagesMedicine/babe-2972221.jpg" class="img-fluid rounded-circle" alt="zoom">
                        <div class="mask flex-center waves-effect waves-light">
                            <p class="white-text">Click</p>
                        </div>
                    </div>
                    <br>
                    <h2 class="text-center">
                        <p class="font-weight-bold">Dziecko</p>
                    </h2>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="view overlay zoom">
                        <img src="/assets/imagesMedicine/glasses-1246611.jpg" class="img-fluid rounded-circle"
                            alt="zoom">
                        <div class="mask flex-center waves-effect waves-light">
                            <p class="white-text">Click</p>
                        </div>
                    </div>
                    <br>
                    <h2 class="text-center">
                        <p class="font-weight-bold">Optyk</p>
                    </h2>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="view overlay zoom">
                        <img src="/assets/imagesMedicine/athlete-1840437.jpg" class="img-fluid rounded-circle"
                            alt="zoom">
                        <div class="mask flex-center waves-effect waves-light">
                            <p class="white-text">Click</p>
                        </div>
                    </div>
                    <br>
                    <h2 class="text-center">
                        <p class="font-weight-bold">Sport</p>
                    </h2>
                </div>
            </div>
        </div>

    </div>
