<mdb-carousel class="carousel slide carousel-fade rounded-circle" [animation]="'fade'">
    <mdb-carousel-item>
      <video class="video-fluid" autoplay loop muted>
        <source src="assets/video/company/video.mp4" type="video/mp4" />
      </video>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <video class="video-fluid" autoplay loop muted>
        <source src="assets/video/company/pexels-mart-production-7230798.mp4" type="video/mp4" />
      </video>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <video class="video-fluid" autoplay loop muted>
        <source src="/assets/video/company/pexels-artem-podrez-5752556.mp4" type="video/mp4" />
      </video>
    </mdb-carousel-item>
  </mdb-carousel>
