<div class="container">
<div class="row">
        <div class="col-4">
            <div class="card">
                <div class="view overlay zoom">
                    <img src="/assets/imagesMedicine/melatonina.jpg" class="img-fluid rounded-circle" alt="zoom">
                    <div class="mask flex-center waves-effect waves-light">
                        <p class="white-text">Click</p>
                    </div>
                </div>
                <br>
                <h2 class="text-center">
                    <p class="font-weight-bold">Melatonina</p>
                </h2>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="view overlay zoom">
                    <img src="/assets/imagesMedicine/aspiryna.jpg" class="img-fluid rounded-circle" alt="zoom">
                    <div class="mask flex-center waves-effect waves-light">
                        <p class="white-text">Click</p>
                    </div>
                </div>
                <br>
                <h2 class="text-center">
                    <p class="font-weight-bold">Aspiryna</p>
                </h2>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="view overlay zoom">
                    <img src="/assets/imagesMedicine/ibum.png" class="img-fluid rounded-circle"
                        alt="zoom">
                    <div class="mask flex-center waves-effect waves-light">
                        <p class="white-text">Click</p>
                    </div>
                </div>
                <br>
                <h2 class="text-center">
                    <p class="font-weight-bold">IBUM</p>
                </h2>
            </div>
        </div>
    </div>
    </div>