<footer id="footer" class="page-footer font-small indigo">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">
                    <img src="assets\myPharmacyLogo.svg" height="40px">
                </h5>

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into electronic
                </p>
            </div>

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
                <h4 class="text-uppercase">Nasze kanały</h4>

                <ul class="list-unstyled mb-0">
                    <li>
                        <button mat-mini-fab color="white" aria-label="Facebook">
                            <mat-icon svgIcon="facebook"></mat-icon>
                        </button>
                        <button mat-mini-fab color="white" aria-label="Instagram">
                            <mat-icon svgIcon="instagram"></mat-icon>
                        </button>
                    </li>
                    <li>
                        <button  mat-mini-fab color="white" aria-label="YouTube">
                            <mat-icon svgIcon="youtube"></mat-icon>
                        </button>
                        <button mat-mini-fab color="white" aria-label="Linkedin">
                            <mat-icon svgIcon="linkedin"></mat-icon>
                            </button>
                    </li>
                    <li>
                        <button  mat-mini-fab color="white" aria-label="Twitter">
                            <mat-icon svgIcon="twitter"></mat-icon>
                        </button>
                        <button  mat-mini-fab color="white" aria-label="Messenger">
                            <mat-icon svgIcon="messenger"></mat-icon>
                        </button>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h4 class="text-uppercase mb-0">Szybki dostęp</h4>

                <ul class="list-unstyled">
                    <li id="dot">
                        <a href="#!" class="text-white">Kontakt</a>
                    </li>
                    <li id="dot">
                        <a href="#!" class="text-white">Dostawa</a>
                    </li>
                    <li id="dot">
                        <a href="#!" class="text-white">Produkty</a>
                    </li>
                    <li id="dot">
                        <a href="#!" class="text-white">Regulamin</a>
                    </li>
                    <li id="dot">
                        <a href="#!" class="text-white">Polityka cookies</a>
                    </li>
                    <li id="dot">
                        <a href="#!" class="text-white">Polityka prywatności</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href=""> Marcin Opiołka, Marek Składaniec, Wojtek Ilnicki, Tomasz Cieśliński</a>
    </div>
</footer>